.video, .weekly-dishes{
    position: relative; 
}
.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -100;
    object-fit: cover;
    height: 500px; 
}
.video-text {
    color: white;
    object-fit: cover; 
    width: 100%;
    height: 500px;      
    font-weight: bold;
    font-style: 24px;
    background-color: rgba(0,0,0,0.5);
}
.weekly-h1, .video-h1, .card-text{
    font-weight: bold;
}
.weekly-h1{
    padding-top: 5%;
}
.weekly-dishes{
    background-color: #f5f5dc;
}
.card{
    background-color: #f5f5dc;
}
