header{
    background-color: #612500;
}
.nav-link{
    color: #c8b17b !important;
    font-weight: 400 !important; 
    font-size: 16px !important;
}
.nav-link:hover{
    color: #c8b17b !important;
    font-weight: 600 !important; 
    transition: 0.2s;
}
.navbar-logo{
    width: 120px;
    height: 120px;
}